<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_aboutpage.css') }}">
    <title>Hello {{ name }}</title>
</head>
<body>
    <h1>Hello {{ name | upper }} welcome to about page</h1>

    <div class = buttons>
        <center>
            <form method="POST" action="{{ url_for('index') }}">
                <input type="submit" placeholder="back to homepage" value="{{ index }}">
            </form>
            <form method="POST" action="{{ url_for('results') }}">
                <input type="submit" placeholder="back to results page" value="{{ results }}">
            </form>
        </center>
    </div>
</body>
</html>